<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Fruit</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>Create a New Fruit!</h1>
    <form action="/fruits" method="POST">
        <div>
            <label for="name">*Name:</label>
            <input type="text" name="name" id="name" required placeholder="Name of Fruit">
        </div>
        <div class="checkbox-div">
            <label for="isReadyToEat">Ready to Eat?</label>
            <input type="checkbox" name="isReadyToEat" id="isReadyToEat">
        </div>
        <button type="submit">Add Fruit</button>
    </form>
    <a class="fruits-index-link" href="/fruits">
        <div class="index-link-text">Back to Fruits</div>
    </a>
</body>
</html>